<script>
    var candidates = JSON.parse('<%- candidates %>');
    var req_winners = <%= poll.req_winners %>;
    var sum_votes = <%- sum_votes %>;
    <% if (sum_votes > 0) {%>
    var votes = <%- votes %>;
    <% }%>
</script>
<md-content onresize="resize()">
    <div class="dark_theme">
        <div layout="column" layout-align="center center">
            <div><h1><%= poll.title %></h1></div>
            <div><h3><pre><%= poll.desc %></pre></h3></div>
        </div>
        <div layout="row">
            <md-divider></md-divider>
            <div flex>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Created on :</label>
                    <input disabled><%= poll.createdAt.toDateString() %></input>
                </md-input-container>
            </div>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Last edited on :</label>
                <input disabled><%= poll.updatedAt.toDateString() %></input>
            </md-input-container>

            <div flex>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Poll start date :</label>
                    <input disabled><%= poll.min_date.substring(0, 10) %></input>
                </md-input-container>
            </div>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Poll end date :</label>
                <input disabled><%= poll.max_date.substring(0, 10) %></input>
            </md-input-container>
        </div>
    </div>
    <!-- LIST OF CANDIDATES -->

    <% if (typeof candidates !== 'undefined' && candidates !== null) { %>
    <div ng-controller="DragCanList">
        <div layout="row" layout-align="space-between center">
            <md-subheader class="md-no-sticky">Your choice in order</md-subheader>
            <div></div>
            <md-button id="submitButton" class="md-raised md-primary" layout="center center" ng-click="loading ? null : SubmitCanVote()"
                       aria-label="Submit your vote" ng-disabled="!choices[0]">
                <i class="material-icons" style="font-size:300%" ng-show="!loading">&#xE065;</i>&nbsp <b ng-show="!loading">Submit your vote !</b>
                <span class="overlord-loading-spinner fa fa-spinner" style="font-size:200%" ng-show="loading" ></span>
                <span ng-show="loading"><b>&nbspSending your choices...</b></span>
            </md-button>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div  class="containerVertical" id="choicesList">
            <md-list ng-cloak style="padding:0px" ng-repeat="choice in choices">
                <md-list-item ng-click="null">
                    <div class="_circle" style="background: {{ choice.cancolor }}"></div>
                    <p>{{ choice.name }}</p>
                    <h5>{{ choice.desc }}</h5>
                    <div style="display:none" class="id_class">{{choice.id}}</div>
                </md-list-item>
            </md-list>
        </div>

        <div layout="row" layout-align="space-between center">
            <md-subheader class="md-no-sticky">Candidates</md-subheader>
            <div></div>
            <div></div>
        </div>
        <div class="containerVertical">
            <md-list ng-cloak style="padding:0px" ng-repeat="can in candidates" id="candidateslist">
                <md-list-item ng-click="null">
                    <div class="_circle" style="background: {{ can.cancolor }}"></div>
                    <p>{{ can.name }}</p>
                    <h5>{{ can.desc }}</h5>
                    <div style="display:none" class="id_class">{{can.id}}</div>
                </md-list-item>
            </md-list>
        </div>
    </div>
    <% } %>
    <div ng-controller="VoteResultsCtrl" ng-if="votes !== null">
        <div layout="row" layout-align="space-between center">
            <md-subheader class="md-no-sticky">Vote results for {{ sum_votes }} votes :</md-subheader>
            <md-button id="update_graph" class="md-raised md-primary" aria-label="Update">Update</md-button>
            <h2 class="subtitle">Round 0</h2>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="graph"></div>
        <div layout="row" layout-align="space-between center">
            <md-subheader class="md-no-sticky">After {{ votes.rounds.length }} rounds, there are {{ votes.winners.length }} winners :</md-subheader>
            <div></div>
            <div></div>
        </div>
        <div class="containerVertical" >
            <div layout="row" layout-align="space-around center" ng-repeat="(key, win) in votes.winners | orderBy:'key':true" style="background-color : {{ get_color(win) }};">
                <div style="background-color : {{ get_color(win) }}; min-height:50px;"layout="row" layout-align="center center">{{$index + 1}} - {{ get_can_name(win)}}</div>
            </div>
        </div>
        <div layout="row" layout-align="space-between center">
            <md-subheader class="md-no-sticky">Simplified Sankey graph : </md-subheader>
            <div></div>
            <div></div>
        </div>
        <div class="containerVertical">
            <div layout="row" layout-align="space-around center" ng-repeat="round in votes.rounds" style="background-color:white">
                <div flex="10">Round {{ $index + 1 }}</div>
                <div ng-repeat="(cand, count) in round.tallies" flex="{{calc_size(round, count)}}" layout="row" layout-align="center center"
                     style="background-color : {{ get_color(cand) }}; min-height:100px;" ng-if="count">
                    {{get_can_name(cand)}} <br/>
                    {{count}} votes - {{get_percentage(round, count) | number:1}}%
                </div> <!-- {{ is_round_winner(round, cand) ? 'margin:2px' : '' }}-->
            </div>
        </div>
    </div>
    <style>
        .bullet .marker { stroke: #000; stroke-width: 2px; }
        .bullet .tick line { stroke: #666; stroke-width: .5px; }
        .bullet .range.s0 { fill: rgba(226,228,229,1); }
        .bullet .range.s1 { fill: #90caf9; }
        .bullet .range.s2 { fill: #64b5f6; }
        .bullet .measure.s0 { fill: #0d47a1; }
        .bullet .measure.s1 { fill: steelblue; }
        .bullet .title { font-size: 14px; font-weight: bold; }
        .bullet .subtitle { fill: #999; }
    </style>
</md-content>