<md-content md-theme="docs-dark">
    <div layout="column" layout-align="center center">
        <div><h1><%= poll.title %></h1></div>
        <div><h3><pre><%= poll.desc %></pre></h3></div>
    </div>
    <div layout="row" layout-align="">
        <md-divider></md-divider>
        <div flex>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Created on :</label>
                <input disabled><%= poll.createdAt %></input>
            </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Last edited on :</label>
            <input disabled><%= poll.updatedAt %></input>
        </md-input-container>

        <div flex>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Poll start date :</label>
                <input disabled><%= poll.min_date %></input>
            </md-input-container>
        </div>
        <md-input-container class="md-block" flex-gt-xs>
            <label>Poll end date :</label>
            <input disabled><%= poll.max_date %></input>
        </md-input-container>
    </div>
</md-content>


<!-- LIST OF CANDIDATES -->
<md-content>
    <md-subheader class="md-no-sticky">Candidates</md-subheader>
    <% if (typeof candidates !== 'undefined' && candidates !== null) { %>
    <md-list ng-cloak>
        <% for (var i_can = 0, len = candidates.length; i_can < len; i_can++) {%>
        <md-list-item ng-click="null">
            <div class="_circle" style="background:<%= candidates[i_can].cancolor %>"></div>
            <p><%= candidates[i_can].name %></p>
            <h5><%= candidates[i_can].desc %></h5>
        </md-list-item>
        <% } %>
    </md-list>
    <% } %>
</md-content>
